:root{
    --black:rgb(0,0,0);
    --spacing:15px;
    --grayButtonText:rgba(0,0,0,0.34);

}

html,body{
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    font-weight: 300;
}


h1{
    font-size: 21px;
    font-weight: 750;
    margin:0;
    color: rgba(237, 39, 75, 0.714);
}

a{
    color: rgba(237, 39, 75, 0.714);
}

nav a.black{
    color:var(--black);
}

a:hover{
    color:black;
}

button{
    background-color: transparent;
    border:none;
    color:var(--grayButtonText);
}

button ion-icon,
button span{
    pointer-events: none;
}

nav{
    background-color: #e3d6d6;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;   
}

.wrapper > .row{
    margin:0;
    height: 100%;
}

.wrapper{
    display:flex;
    flex-direction: column;
    height:100%;
}

nav a{
    padding:10px;
    font-size: 30px;
    width:55px;
    height:55px;
    display:flex;
    align-items: center;
    justify-content: center;

}

.mainSectionContainer{
    background-color:  aliceblue;
    padding:0;
    border-left:2px solid rgb(60, 26, 26);
    border-right:2px solid rgb(60, 26, 26);
    display:flex;
    flex-direction:column;
}

.titleContainer{
    height:53px;
    padding:0 var(--spacing);
    display:flex;
    align-items: center;
    border-bottom: 1px solid black;
    flex-shrink: 0;

}

.titleContainer h1{
    flex:1;

}

.postFormContainer{
    display:flex;
    padding:var(--spacing);
    border-bottom: 10px solid rgb(230,236,240);
    flex-shrink: 0;

}

.userImageContainer{
    width:50px;
    height:50px;
}

.userImageContainer img{
    width:85%;
    border-radius: 50%;
    background-color: aliceblue;    
}

.textareaContainer{
    flex:1;
    padding-left: var(--spacing);
    background-color: aliceblue;   

}


.textareaContainer textarea{
    width:100%;
    border: none;
    resize: none;
    font-size: 19px;
    background-color: aliceblue;
}
#submitPostButton{
    background-color: rgba(237, 39, 75, 0.714);
    color:aliceblue;
    border:none;
    border-radius: 40px;
    padding:7px 15px;

}

#submitPostButton:disabled{
    background-color: rgb(229, 163, 163)
}


.post{
    display:flex;
    flex-direction: column;
    padding:var(--spacing);
    cursor:pointer;
    border-bottom: 1 px solid rgb(175, 182, 187);
    flex-shrink: 0;
}

.mainContentContainer{
    flex:1;
    display: flex;
}

.postContenContainer{
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.username,
.date{
    color:rgb(101,119,134);
}

.displayName{
    font-weight: bold;
    text-decoration: none;
}

.postFooter{
    display:flex;
    align-items: center;
}

.postFooter .postButtoncontainer{
    flex:1;
    display:flex;
    justify-content: space-between;
}

.postFooter .postButtoncontainer button{
    padding:2px 5px;

}

.header a:hover{
    text-decoration: underline;
}

.header a,
.header span{
    padding-right: 5px;
}

.postButtoncontainer button:hover{
    background-color: #d4edff;
    border-radius: 50%;
}

.postButtoncontainer.red button.active{
    color:rgb(226, 34, 94)
}

.postButtoncontainer.red button:hover{
    background-color:rgba(226, 34, 94,0.1)
}

.postButtoncontainer.green button.active{
    color:rgb(23,191,99)
}

.postButtoncontainer.green button:hover{
    background-color:rgba(32,191,29,0.1)
}

.postActionContainer{
    padding-left: 35px;
    font-size: 13px;
    color:#060606;
    margin-bottom: var(--spacing);
}

.modal .postActionContainer{
    border:none;
    padding:0;
    padding-top:var(--spacing);

}

.modal .post{
    padding: 0;
    padding-bottom: var(--spacing);
}

.replyFlag{
    margin-bottom: 5px;    
}

.post.largeFont .postBody,
.post.largeFont .postFooter
{
    font-size: 23px;

}

.postContenContainer .header{
    display:flex;
}

.postContenContainer .header .date{
    flex:1;
}


.errorMessage{
    padding: var(--spacing);
    
}


.profileHeaderContainer .coverPhotoSection {
    height:180px;
    background-color: rgba(237, 39, 75, 0.714);
    position:relative;

}

.profileHeaderContainer .userImageContainer{
    height: 132px;
    width:132px;
    margin-left: var(--spacing);
    width:20%;
    position:absolute;
    bottom:-66px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.profileHeaderContainer .userImageContainer img{
    border:4px solid azure
}


.profileHeaderContainer .profileButtonsContainer{
    text-align: right;
    padding:var(--spacing);
    min-height: 66px;

}

.profileButton:hover{
    background-color:rgba(237, 39, 75, 0.714);
}
.FollowButton:hover{
    background-color:rgba(237, 39, 75, 0.714);
    color:#060606
}
.followButton:hover{
    background-color:rgba(237, 39, 75, 0.714);
    color:#060606
}


.profileButton,.followButton,.following{
    border:1px solid rgba(237, 39, 75, 0.714);
    color:rgba(237, 39, 75, 0.714);
    font-weight:bold;
    padding:5px 15px;
    border-radius:60px;
    display:inline-block;
    margin-left: var(--spacing);

}

.profileHeaderContainer .userDetailsContainer{
    display:flex;
    flex-direction: column;
    padding:0 var(--spacing);

}

.followersContainer .value{
    font-weight: bold;
    margin-right: 5px;
}

.followersContainer span:not(.value){
    color:var(--grayButtonText);

}


.followersContainer a{
    margin-right: 15px;   
    text-decoration: none

}

.followersContainer a:hover{
    border-bottom: 1px solid black; 
}


.tabsContainer{
    text-decoration: none;
    display:flex;
    border-bottom: 1px solid var(--grayButtonText);
    flex-shrink: 0;
}

.tab{
    flex:1;
    text-decoration: none;
    height:52px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:var(--grayButtonText);
    font-weight: bold;

}

.tab.active{
    color:rgba(237, 39, 75, 0.714);
    border-bottom: 2px solid rgba(237, 39, 75, 0.714);
}

.tab:hover{
    color:#060606;
    background-color: rgb(229, 163, 163) ;
}

.userImagecontainer img{
    width:12%;
    background-color: aliceblue;   
    padding-left: var(--spacing);
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}


.userDetailsContainer{
    padding-left: var(--spacing);   
}

.resultsContainer{
    display:flex;
    flex-direction: column;
}

.resultsContainer .user{
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid #d4edff;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.profilePictureButton, .coverPhotoButton{
    position:absolute;
    font-size: 50px;
    color:rgba(0,0,0,0.6);
    display:none;
}

.userImageContainer:hover  .profilePictureButton,
.coverPhotoSection:hover .coverPhotoButton{
    display:block;
}

.coverPhotoContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

.coverPhotoContainer img{
    width:100%;
    height:100%;

}


#imagePreview{
    width:100%;
    display: block;
    max-width: 100%;
}

.pinButton.active{
    color:#060606;
}

.pinnedPostContainer{
    border-bottom: 10px solid rba(230,236,240);
}


.searchBarContainer{
    position:relative;
    color:black;
    padding: 10px var(--spacing);
}


.searchBarContainer ion-icon{
    position:absolute;
    top:20px;
    left:28px;
}

.searchBarContainer #searchBox{
    height:36px;
    width:100%;
    padding:5px 15px 5px 40px;
    border-radius: 50px;
    background-color: #eac8cb;
    border: none;
    color: black;
}


.chatPageContainer{
    display:flex;
    flex-direction: column;
    min-height: 0;
    flex:1;
}

.chatTitleBar{
    border-bottom: 1px solid black;
    display:flex;
    align-items:center;
    min-height: 60px;
    padding:10px;
}

.chatTitleBar label{
    margin: 0 10px 0 0;
}

#userSearchTextBox{
    border:none;
    flex:1;
    font-weight: 200;
    min-width:350px;
    background-color: aliceblue;
    width: 100%;
    border-radius: 10px;
}


#createChatButton{
    border:none;
    background-color:  rgba(237, 39, 75, 0.714);
    color:#d4edff;
    padding:7px 20px;
    margin:10px auto;
    border-radius: 40px;
}

#createChatButton:disabled{
    background-color: #eac8cb;
    color:#060606;
    
}

.selectedUser{
    font-weight: 300;
    background-color: rgba(237, 39, 75, 0.714);
    color:whitesmoke;
    padding:5px;
    border-radius: 3px;
    margin:5px 5px 0 0;
    display: inline-block;
    border-radius: 5px;
}

.resultListItem{
    padding:7px;
    display:flex;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid gray;
    text-decoration: none ;
}

.resultListItem:hover{
    background-color: #f2f2f2;
    text-decoration: none;
}

.resultsDetailContainer{
    display:flex;
    flex-direction: column;
    flex:1;  
    text-decoration:none;
}

.resultsDetailContainer .header{
    font-weight: 500;
    text-decoration:none;
}

.resultsDetailContainer .subtext{
    font-size: 14px;
    text-decoration:none;
}

.resultListItem img{
    height:100%;
    width:100%;
    border-radius: 50%;    
}

.resultsImageContainer{
    height:40px;
    width:40px;
    position:relative;
    margin-right: 10px;
    display:flex;
    align-items: center;
    padding:5px;
}


.groupChatImage img{
    height:65%;
    width:65%;
    position:absolute;
    bottom:0;
    margin:0;   
    border:3px solid #fff;
}

.groupChatImage img:first-of-type{
    top:0;
    right:0;

}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.chatTitleBarContainer{
    border-bottom: 1px solid gainsboro; 
    display:flex;
    align-items: center;
    padding:var(--spacing);

}

#chatName{
    width:100%;
    border:1px solid transparent;
    padding:0 5px;
}


#chatName:hover{
    border: 1px solid rgba(237, 39, 75, 0.714);
    cursor:text;
    border-radius: 50px;
}


.chatContainer{
    flex:1;
    display:flex;
    flex-direction: column;
    overflow-y: hidden;
}

.chatContainer .footer{
    display:flex;
    padding:var(--spacing);
    flex-shrink: 0px; 
}

.chatContainer .footer textarea{
    flex:1;
    resize:none;
    background-color: #e3d6d6;
    border-radius: 20px;
    border:none;
    padding:4px 10px;
    height: 40px;
}



.chatContainer .footer button{
    background-color: transparent;
    color:rgba(237, 39, 75, 0.714);
    font-size: 30px;
}


.chatMessages{
    flex:1;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    padding:var(--spacing);

}

.chatImagesContainer{
    display:flex;
    flex-direction: row-reverse;
    height:100%;
    margin-right: 10px;

}

.chatImagesContainer img{
    width:40px;
    height: 40px;
    border:2px solid #fff;
    border-radius: 50%;
}


.chatImagesContainer .userCount{
    height:40px;
    width:40px;
    background-color: #f1f1f1;
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border:2px solid #fff;
}

.chatImagesContainer img:not(:last-child),
.chatImagesContainer .userCount
{
    margin-left: -10px;
}

#chatNameTextBox{
    width:100%;
    border-radius: 20px;
}

.chatMessages .message{
    padding-bottom: 2px;
    list-style: none;
    align-items: flex-end;
    flex-shrink: 0;
    -webkit-box-flex:0;
}


.chatMessages .message .messageBody{
    background-color: #eac8cb;
    padding:6px 12px;
    border-radius: 20px;
    font-size: 14px;
}


.chatMessages .message .messageContainer{
    display:flex;
    flex-direction: column;
    max-width: 55%;
}
