:root{
    --black:rgb(0,0,0);
    --spacing:15px;
    --grayButtonText:rgba(0,0,0,0.34);

}


h1{
    font-size: 21px;
    font-weight: 750;
    margin:0;
    color: rgba(237, 39, 75, 0.714);
}

a{
    color: rgba(237, 39, 75, 0.714);
}

nav a.black{
    color:var(--black);
}

a:hover{
    color:black;
}

button{
    background-color: transparent;
    border:none;
    color:var(--grayButtonText);
}

button ion-icon,
button span{
    pointer-events: none;
}

nav{
    background-color: #e3d6d6;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;   
}

nav a{
    padding:10px;
    font-size: 30px;
    width:55px;
    height:55px;
    display:flex;
    align-items: center;
    justify-content: center;

}

.mainSectionContainer{
    background-color:  aliceblue;
    padding:0;
    border-left:2px solid rgb(60, 26, 26);
    border-right:2px solid rgb(60, 26, 26);
    display:flex;
    flex-direction:column;
}

.titleContainer{
    height:53px;
    padding:0 var(--spacing);
    display:flex;
    align-items: center;
    border-bottom: 1px solid black;
    flex-shrink: 0;

}

.titleContainer h1{
    flex:1;

}

.postFormContainer{
    display:flex;
    padding:var(--spacing);
    border-bottom: 10px solid rgb(230,236,240);
    flex-shrink: 0;

}

.userImageContainer{
    width:50px;
    height:50px;
}

.userImageContainer img{
    width:85%;
    border-radius: 50%;
    background-color: aliceblue;    
}

.textareaContainer{
    flex:1;
    padding-left: var(--spacing);
    background-color: aliceblue;   

}


.textareaContainer textarea{
    width:100%;
    border: none;
    resize: none;
    font-size: 19px;
    background-color: aliceblue;
}
#submitPostButton{
    background-color: rgba(237, 39, 75, 0.714);;
    color:aliceblue;
    border:none;
    border-radius: 40px;
    padding:7px 15px;

}

#submitPostButton:disabled{
    background-color: rgb(229, 163, 163)
}


.post{
    display:flex;
    flex-direction: column;
    padding:var(--spacing);
    cursor:pointer;
    border-bottom: 1 px solid rgb(175, 182, 187);
    flex-shrink: 0;
}

.mainContentContainer{
    flex:1;
    display: flex;
}

.postContenContainer{
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.username,
.date{
    color:rgb(101,119,134);
}

.displayName{
    font-weight: bold;
    text-decoration: none;
}

.postFooter{
    display:flex;
    align-items: center;
}

.postFooter .postButtoncontainer{
    flex:1;
    display:flex;
    justify-content: space-between;
}

.postFooter .postButtoncontainer button{
    padding:2px 5px;

}

.header a:hover{
    text-decoration: underline;
}

.header a,
.header span{
    padding-right: 5px;
}

.postButtoncontainer button:hover{
    background-color: #d4edff;
    border-radius: 50%;
}

.postButtoncontainer.red button.active{
    color:rgb(226, 34, 94)
}

.postButtoncontainer.red button:hover{
    background-color:rgba(226, 34, 94,0.1)
}

.postButtoncontainer.green button.active{
    color:rgb(23,191,99)
}

.postButtoncontainer.green button:hover{
    background-color:rgba(32,191,29,0.1)
}

.postActionContainer{
    padding-left: 35px;
    font-size: 13px;
    color:#060606;
    margin-bottom: var(--spacing);
}
