mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="Users profile picture")
        .textareaContainer 
            textarea#postTextArea(placeholder="So, what´s up...?")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post     

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replayModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#replayModalLabel.modal-title reply
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    .postFormContainer
                        .userImageContainer 
                            img(src=userLoggedIn.profilePic, alt="Users profile picture")
                        .textareaContainer 
                            textarea#replyTextArea(placeholder="So, what´s up...?")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#submirReplyBotton.btn.btn-primary(type='button',disabled="true") Reply
