extends layouts/main-layout.pug

block content

    if errorMessage 
        span.errorMessage #{errorMessage}
    else
        script. 
            var chatId='!{chat._id}';

        .chatPageContainer 
            .chatTitleBarContainer 
                +createChatImage(chat, userLoggedIn)
                span#chatName(data-bs-toggle="modal",data-bs-target="#chatNameModal")  

            .mainContentContainer 
                .chatContainer 
                    ul.chatMessages
                    .footer 
                        textarea.inputTextBox(name="messageInput",placeholder="type your message ...")
                        button.sendMessageButton 
                            ion-icon(name='send-outline') 
        +createChatNameModal(chat)                     
block scripts 
    script(src="/js/chatPage.js")