extends layouts/main-layout.pug

block content
    if !profileUser
        h3.errorMessage User not found
    else
        .profileHeaderContainer 
            .coverPhotoContainer
                .userImageContainer 
                    img(src=profileUser.profilePic, alt="User profile image")
            .profileButtonsContainer        
                if profileUser._id == userLoggedIn._id
                    a.profileButton(href=`/messages/${profileUser._id}`)
                        ion-icon(name='flame')
        .postContainer

        +createReplyModal(userLoggedIn)
        +createDeleteModal(userLoggedIn)
        
    script(src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
    script(src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")

block scripts 
    script(src="/js/profile.js")